@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 10px;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
}

div {
    /* border: 1px solid red; */
}
p {
    color: #3d2514;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
}

h2 {
    color: #3d2514;
    font-size: 5em !important;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 4px 4px #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.wrapper {
    width: 100%;
}

.hero-wrapper {
    background-image: url('../img/bg.jpg');
    padding-bottom: 100px;
}

.hero {
    /* height: 814px; */
    width: 100%;
}

.top__tel {
    align-items: start;
    color: #3d2514;
    display: flex;
    font-size: 1.6em;
    font-weight: 600;
}

.top__tel img {
    margin-right: 15px;
}

.topnav ul {
    color: #3d2514;
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 2px;
    text-transform: uppercase;
}

.topnav ul li a:hover {
    border-bottom: 2px dashed #3d2514;
}

.topnav-mobile {
    background-color: #3d2514;
    height: 60px;
}

.promo__image {
    /* background: url('../img/burger.png') no-repeat center;
    height: 720px; */
    /* width: 50%; */
}

.burger {
    position: relative;
}

.price {
    bottom: -30px;
    left: 0;
    position: absolute;
    /* height: 174px;
    width: 174px; */
}

/* .price {
    background-color: #bf2222;
    border-radius: 50%;
    height: 33%;
    position: relative;
    width: 33%;
}

.price::after {
    border: 2px dashed #fff;
    border-radius: 50%;
    content: ""
    display: block;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
} */

.promo__text {
    padding: 5% 0;
    /* width: 50%; */
}

.promo__text-sub {
    border: 1px dashed #3d2514;
    color: #3d2514;
    font-size: 2.3em;
    font-family: 'Bebas Neue', cursive;
    padding: 8px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: uppercase;
}

.promo__text-slogan {
    color: #3d2514;
    /* font-size: 12em; */
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 4px 4px #fff;
    text-transform: uppercase;
}

.btn-amber {
    /* border-radius: 6px; */
    color: #3d2514;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    padding: 10px 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-red {
    /* border-radius: 6px; */
    background-color: #bf2222;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.2em;
    display: inline-block;
    margin: 30px 0;
    padding: 5px 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.promo {
    margin-top: 40px;
}

.promo__burger-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.promo__burger-item h3 {
    color: #3d2514;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 4px 4px #fff;
    text-align-last: center;
    text-transform: uppercase;
    margin-top: 40px;
}