@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 10px;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
}

div {
    /* border: 1px solid red; */
}

.wrapper {
    width: 100%;
}

.hero-wrapper {
    background-image: url('../img/bg.jpg');
    padding-bottom: 100px;
}

.hero {
    /* height: 814px; */
    width: 100%;
}

.top__tel {
    align-items: start;
    color: #3d2514;
    display: flex;
    font-size: 1.6em;
    font-weight: 600;
}

.top__tel img {
    margin-right: 15px;
}

.topnav ul {
    color: #3d2514;
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 2px;
    text-transform: uppercase;
}

.topnav ul li a:hover {
    border-bottom: 2px dashed #3d2514;
}

.topnav-mobile {
    background-color: #3d2514;
    height: 60px;
}

.promo__image {
    /* background: url('../img/burger.png') no-repeat center;
    height: 720px; */
    /* width: 50%; */
}

.burger {
    position: relative;
}

.price {
    bottom: -30px;
    left: 0;
    position: absolute;
}

.promo__text {
    padding: 5% 0;
    /* width: 50%; */
}

.promo__text-sub {
    border: 1px dashed #3d2514;
    color: #3d2514;
    font-size: 2.3em;
    font-family: 'Bebas Neue', cursive;
    padding: 8px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: uppercase;
}

.promo__text-slogan {
    color: #3d2514;
    /* font-size: 12em; */
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 4px 4px #fff;
    text-transform: uppercase;
}